
<div class="container">
  <h1>Voici notre équipe 😇</h1>
  <p class="text-center mb-5">Rencontrez les membres fondateurs de The Gossip Project, toujours prêts à partager des potins !</p>
  
  <div class="team-container">
    <!-- Membre 1 -->
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4hwurlkJlCfvIoY0QIDdN_KEU8IkFQSRRCg&s" class="card-img-top" alt="Zaineb PADILLA">
      <div class="card-body">
        <h5 class="card-title text-center">Zaineb PADILLA</h5>
        <p class="card-text">Experte en développement web</p>
      </div>
    </div>

    <!-- Membre 2 -->
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_TeVCz5BjPHWQtDM3aLnh8Lzh9WYlMzQ_Zxm7545bcZAA7zH-NMSsjCoXul6HMPAR0vo&usqp=CAU" class="card-img-top" alt="Luc RAMASSAMY">
      <div class="card-body">
        <h5 class="card-title text-center">Luc RAMASSAMY</h5>
        <p class="card-text">Expert en design</p>
      </div>
    </div>
  </div>
</div>
