<!DOCTYPE html>
<html>
<head>
    <title> TheGossipProject </title>
</head>

<body>
 <header>
    <h1 class="pixel">THE GOSSIP PROJECT</h1>
 </header>
    <div class="gossip_container">
        <% @gossips.each do |gossip| 
        author = User.find gossip.user_id
        author_name = author.first_name %>
    

        <div class="gossip_card">

            <div class="gossip_title">
            <p><%= gossip.title %></p>
            </div>


            <div class="gossip_author">
            <p>- <%= author_name%>
            </div>

            <div class="link_to_single_gossip">
                <%= link_to "Voir le gossip", single_gossip_path(gossip.id) %>
            </div>

        </div>

        <% end %>

    </div>
</body>

</html>