<!DOCTYPE html>
<html>
<head>
    <title> TheGossipProject </title>
</head>

<body>


    <div class="welcometext pixel">
        <p> Bonjour <%= @name %> et bienvenue dans :</p>
    </div>

    <h1 class="pixel">THE GOSSIP PROJECT</h1>

    
    <div class="center">
    <a class="homeButton" href="/">
        Voir tous les potins
    </a>
    </div>
          
    
</body>

</html>