/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');


.pixel{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.welcometext{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 75px;
    
}

 body{
    background-color: rgb(1, 9, 22);
    color: white;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    
 }

.gossip_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    justify-self: center;
    padding-top: 100px;
    padding-bottom: 50px;
    color: rgb(71, 74, 223);
    font-size: 100px;
}
 .gossip_card{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid rgb(252, 252, 252);
    border-radius: 10px;
    width: 750px;
    background-color: rgb(17 17 17);
 }

 a.homeButton{
    padding: 1px 6px;
    border: 1px solid ;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    justify-self: center;
    font-size: larger;
 }

 a.homeButton :hover{
    padding: 1px 6px;
    border: 1px solid ;
    border-radius: 3px;
    color: rgb(17 17 17);
    background-color: white;
    text-decoration: none;
    justify-self: center;
    font-size: larger;
 }

 .center{
    display: flex;
    justify-content: center;
 }

 .link_to_single_gossip{
   margin-left: auto;
 }